@font-face {
   font-family: 'HelveticaNowDisplay-Black';
   src: url('file:///Users/lorenzacozzoni/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-05-11_154331/fonts/HelveticaNowDisplay-Black/font.woff');
}
